body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dbe7fe;
}

h1, h2 {
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
